<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="assest/images/layout-1/Logo/Favicon.png" type="image/x-icon">
        <title>Pro Team</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.6.0/remixicon.css">
        <link rel="stylesheet" href="assest/css/bootstrap.min.css">
        <link rel="stylesheet" href="assest/css/style.css">
        <link rel="stylesheet" href="assest/css/media.css">
    </head>
    <body>
        <!-- Page Wrapper section start -->
        <div class="team-section-1">
            <div class="container">
                <div class="team-check">
                    <p>Pro Team</p>
                    <h1>Meet Our Expert Team Member</h1>
                </div>
                <div class="row gy-4 justify-content-center">
                    <div class="col-lg-3 col-md-6">
                        <div class="team-member">
                            <div class="team-images">
                                <img src="assest/images/layout-1/img-1.jpg" alt="img-1">
                            </div>
                            <div class="team-desc">
                                <a href="javascript:void(0)" class="name">Whitney Marie</a>
                                <span>SEO Specialist</span>
                                <div class="social-icon d-flex flex-row">
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <i class="ri-facebook-fill"></i>
                                    </a>
                                    <a href="https://twitter.com/" target="_blank">
                                        <i class="ri-twitter-x-fill"></i>
                                    </a>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="ri-instagram-line"></i>
                                    </a>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="ri-linkedin-fill"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-member">
                            <div class="team-images">
                                <img src="assest/images/layout-1/img-2.jpg" alt="img-2">
                            </div>
                            <div class="team-desc">
                                <a href="javascript:void(0)" class="name">Austin Dee</a>
                                <span>Content Writer</span>
                                <div class="social-icon d-flex flex-row">
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <i class="ri-facebook-fill"></i>
                                    </a>
                                    <a href="https://twitter.com/" target="_blank">
                                        <i class="ri-twitter-x-fill"></i>
                                    </a>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="ri-instagram-line"></i>
                                    </a>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="ri-linkedin-fill"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-member">
                            <div class="team-images">
                                <img src="assest/images/layout-1/img-3.jpg" alt="img-3">
                            </div>
                            <div class="team-desc">
                                <a href="javascript:void(0)" class="name">Haley Ryan</a>
                                <span>Web Designer</span>
                                <div class="social-icon d-flex flex-row">
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <i class="ri-facebook-fill"></i>
                                    </a>
                                    <a href="https://twitter.com/" target="_blank">
                                        <i class="ri-twitter-x-fill"></i>
                                    </a>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="ri-instagram-line"></i>
                                    </a>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="ri-linkedin-fill"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-member">
                            <div class="team-images">
                                <img src="assest/images/layout-1/img-4.jpg" alt="img-4">
                            </div>
                            <div class="team-desc">
                                <a href="javascript:void(0)" class="name">Colt Nova</a>
                                <span>Marketer</span>
                                <div class="social-icon d-flex flex-row">
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <i class="ri-facebook-fill"></i>
                                    </a>
                                    <a href="https://twitter.com/" target="_blank">
                                        <i class="ri-twitter-x-fill"></i>
                                    </a>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="ri-instagram-line"></i>
                                    </a>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="ri-linkedin-fill"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Wrapper section Exit -->
        <!-- bootstrep -->
        <script src="assest/js/bootstrap.bundle.min.js"></script>
    </body>
</html>